/* introPage.css */
body {
  margin: 0;
  font-family: sans-serif;
  background: #000;
  color: #fff;
}

.intro-container {

  background: #000;
  min-height: 100vh;
  color: #fff;
}

.intro-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 24px 0 24px;
}

.main-title {
  font-size: 3.0rem;
  font-weight:lighter;
  text-align: center;
  margin-bottom: 5%;
}

.main-section {
  margin-bottom: 3%;
  
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  min-height: 80vh;
  padding: 5vh 5vw;
  box-sizing: border-box;
  background: #4a49491a;
}

.section-left {
  flex: 1.2;
}

.section-heading {
  font-size: 2rem;
  font-weight: normal;
  color: white;
  margin-bottom: 18px;
}

.section-left  {
  font-size: 1.1rem;
  margin-bottom: 16px;
  color: #ccc;
}
p{
    color: gray;
    font-size: 1rem;
    margin-bottom: 0px;
}
.section-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.cyber-illustration {
  width: 490px;
  max-width: 100%;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 10px 10px 30px rgba(32, 32, 32, 0.7);
}

.bottom-banner {
  margin-top: 48px;
  text-align: left;
}

.bottom-banner h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 900px) {
  .main-section {
    flex-direction: column;
    gap: 32px;
  }
  .intro-main {
    padding: 32px 12px 0 12px;
  }
}

/* Diverse Team Section */
.diverse-team-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4a49491a;
  color: #fff;
  min-height: 80vh;
  padding: 5vh 5vw;
  box-sizing: border-box;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cyber-img {
 width: 490px;
  max-width: 100%;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.7);
}

.content-container {
  flex: 1.3;
  margin-left: 3vw;
}

.content-container h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.subtitle {
  color: #ccc;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.feature-list {
  
  margin: 0;
  color: gray;
  font-size: 1rem;
}

.feature-list li {
  margin-bottom: 1.3rem;
  font-size: 1.08rem;
  color: #cfcfcf;
  position: relative;
  padding-left: 2rem;
}

.feature-list li::before {
  
  color: gray;
  color: #3fa9f5;
  font-size: 1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
}

@media (max-width: 900px) {
  .diverse-team-section {
    flex-direction: column;
    padding: 3vw 2vw;
  }
  .content-container {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .cyber-img {
    width: 90vw;
    max-width: 360px;
  }
}
